.registration
  .registration-top
    .registration-header
      %h1.registration-header__left
        = link_to image_tag('logo-acdd90ac4f472d5a6f7a330d33ab1225.svg',size: "193x49"), root_path

  .registration-menu
    %h2.registration-menu__head
      新規会員登録
    .registration-menu__inner
      .registration-menu__inner__mail-btn
      =link_to step1_signup_index_path do
        .new-registration__body__bottom__mail-btn__scope
          %i.fas.fa-envelope.fa-lg.new-registration__body__bottom__mail-btn__icon
          メールアドレスで登録する
      registration-menu__inner__facebook-btn
      =link_to user_facebook_omniauth_authorize_path, method: :post do
        .new-registration__body__bottom__facebook-btn__scope
          %i.fab.fa-facebook-square.fa-2x.new-registration__body__bottom__facebook-btn__icon
          Facebookで登録する
      registration-menu__inner__google-btn
      =link_to user_google_oauth2_omniauth_authorize_path, method: :post do
        .new-registration__body__bottom__google-btn__scope
          %i.fab.fa-google.fa-lg.new-registration__body__bottom__google-btn__icon
          Googleで登録する

  .registration-under
    = render "devise/shared/registration-footers"
