.header
  .header-box
    .header-box__top 
      .logo-box
        = image_tag "mercari.png",size: "132x35"
      .search-box
        %input.search-box__input-field{placeholder: '何をお探しですか？'}
        .serach-box__btn
          =fa_icon "search"
    .header-box__under
      %ul.header-box__under__left
        %li.category-box
          =fa_icon "list-ul"
          %span カテゴリーから探す
        %li.brand-box
          = image_tag "brand-logo.png", size: "18x13"
          %span ブランドから探す
      %ul.header-box__under__right
        %li.sign-in-box
          .sign-in-box__btn
            =link_to '新規会員登録', new_user_registration_path
        %li.log-in-box
          .log-in-box__btn
            =link_to 'ログイン', '#'