.header
  .header-box
    .header-box__top 
      .logo-box 
      %input.search-box
        %button.serach-box__btn
    .header-box__down
      .header-box__down__left
        .category-box
        .bland-box
      .header-box__down__right
        .sign-in-box
          =link_to '新規登録', '#'
        .log-in-box
          =link_to 'ログイン', '#'