.exhibition_wrapper
  .exhibition_header
    = image_tag "mercari.png",size: "185x49"
  .exhibition_field
    .exhibition_field__content
      .exhibition_field__content__inner
        .exhibition_title
          %h1 商品の情報を入力
        .exhibition_upload_box
          .exhibition_upload_box__title
            %h2 出品画像
            %span 必須
          %p 最大10枚までアップロードできます
          .exhibition_drop_upload_box
            = fa_icon 'camera', class: :exhibition_camera_icon
        .
