.registration {
  height: 100%;
  background-color:#f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  .registration-menu{
  background-color: white;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  &__head{
    font-size: 22px;
    color: #333;
    padding: 33px;
    font-weight: bold;
    border-bottom: 1px solid #f5f5f5;
  }
  &__inner{
   padding: 24px 16px 40px;
  }
  .signup-form{
    max-width: 343px;
    margin: 0 auto;
    text-align: left;
    &__group:first-child {
      margin: 0;
    }
    &__group {
      margin: 25px 0 0;
      label {
        font-weight: 600;
        font-size: 14px;
      }
      span {
        background: #ea352d;
        margin: 0 0 0 8px;
        padding: 3px 4px;
        border-radius: 3px;
        color: #fff;
        font-size: 12px;
      }
       h3{
        font-weight: bold;
       }
       p{
        font-size: 14px;
       }
      &-inner {
        width: 90%;
        margin: 8px 0 0;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .year{
        margin: 0 5px 0 0;
        width: 76px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .month {
        margin: 0 5px 0 5px;
        width: 76px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
    &__mid{
      text-align: center;
    }
    &__info{
      margin: 10px 0 0 0;
    }
      &__profile {
        display: flex;
        height: 44px;
        line-height: 44px;
        margin: 10px 0 0 0;
        &-half:first-child {
          margin: 0 ;
        }
      &__mobile{
        display: flex;
        height: 44px;
        line-height: 44px;
        &__info{
          margin: 10px 0 0 0;
        }
      }
        &-half {
          margin: 0 0 0 20px;
          width: 45%;
          height: 24px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
      }
      .year{
        margin: 0 5px 0 0;
        width: 76px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      .month,.day {
        margin: 0 5px 0 5px;
        width: 76px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
    }
      &__rule{
       margin: 25px 0 0 0;
       text-align: center;
       font-size: 14px;
       color: #333;
       font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
       a{
        text-decoration: none;
        color: #0099e8;
      }
      }
      &__expiration-date{
        margin: 0 5px 0 5px;
        .year,.month{
        width: 76px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
         }
      }
      .btn-default {
        display: block;
        width: 100%;
        line-height: 48px;
        font-size: 14px;
        border: 1px solid transparent;
        transition: all ease-out .3s;
        cursor: pointer;
        text-align: center;
      }
      .btn-red {
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        margin: 30px 0 0;
        text-decoration: none
      }
      &__text {
        margin: 8px 0 0;
        color: #888;
        font-size: 14px;
      }
      .text-right {
        text-align: right;
        &__inner {
          color: #0099e8;
          text-decoration: none;
          font-size: 14px;
     }
    }
   }
  }
 }