.footer-image-box
  = image_tag "footer-image.png", class: "footer-image"
.footer
  .footer__overview
    .overview-field
      %h2 メルカリについて
      %ul.overview-field-detail
        %li.overview-detail
          =link_to '会社概要 (運営会社)', '#'
        %li.overview-detail
          =link_to '採用情報', '#'
        %li.overview-detail
          =link_to 'プレスリリース', '#'
        %li.overview-detail
          =link_to '公式ブログ', '#'
        %li.overview-detail
          =link_to 'メルカリロゴ利用ガイドライン', '#'
        .footer-icon-box
          =link_to ("https://twitter.com/mercari_jp") do
            = fa_icon 'twitter', class: 'footer-sns-logo'
          =link_to  ("https://www.facebook.com/mercarijp") do
            = fa_icon 'facebook-square', class: 'footer-sns-logo'
    .overview-field
      %h2 ヘルプ＆ガイド
      %ul.overview-field-detail
        %li.overview-detail
          =link_to 'メルカリガイド', '#'
        %li.overview-detail
          =link_to 'らくらくメルカリ便', '#'
        %li.overview-detail
          =link_to 'ゆうゆうメルカリ便', '#'
        %li.overview-detail
          =link_to '大型メルカリ便', '#'
        %li.overview-detail
          =link_to '車体取引ガイド', '#'
        %li.overview-detail
          =link_to 'メルカリあんしん・あんぜん宣言！', '#'
        %li.overview-detail
          =link_to '偽ブランド品撲滅への取り組み', '#'
        %li.overview-detail
          =link_to 'メルカリボックス', '#'
    .overview-field
      %h2 プライバシーと利用規約
      %ul.overview-field-detail2
        %li.overview-detail
          =link_to 'プライバシーポリシー', '#'
        %li.overview-detail
          =link_to 'メルカリ利用規約', '#'
        %li.overview-detail
          =link_to 'あんしんスマホサポート制度に関する利用特約', '#'
        %li.overview-detail
          =link_to 'コンプライアンスポリシー', '#'
      %ul.overview-field-detail3
        %li.overview-detail
          =link_to '個人データの安全管理に係る基本方針', '#'
        %li.overview-detail
          =link_to '特定商取引に関する表記', '#'
        %li.overview-detail
          =link_to '資金決済法に基づく表示', '#'
        %li.overview-detail
          =link_to '法令順守と犯罪抑止のために', '#'
    .overview-field
      %h2 国
      %ul.overview-field-detail
        %li.overview-detail
          =link_to '日本', '#'
        %li.overview-detail
          =link_to 'United States', '#'
  .footer-last
    =image_tag "footer-logo.png",class: "footer-mercari-logo"
    .footer-last-name 
      %p © 2019 Mercari